* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 70%);
  border: solid hsl(240, 100%, 65%) 10px;
  border-radius: 20px;
  margin: 0.7em;
}

.display {
  height: 25vh;
  width: auto;
  margin-bottom: 0.2em;
}

.display-container {
  width: 100%;
  height: 90%;
}

.history {
  float: right;
  font-size: 1.5em;
  border: solid 2px brown;
  background-color: hsl(0, 0%, 80%);
  color: hsl(240, 100%, 65%);
  margin: 0.2rem;
  padding: 0.125rem 0.25rem;
}

.display-input {
  width: 100%;
  height: 74%;
  background-color: hsl(0, 0%, 86%);
  color: hsl(0, 0%, 30%);
  border: 2px hsl(0, 0%, 99%) solid;
  text-align: right;
  font-size: 3rem;
  padding: 1em 0.4em;
}

.button-container {
  display: flex;
  height: 68vh;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: hsl(0, 0%, 80%);
  border-top: hsl(240, 100%, 70%) solid 5px;
  color: hsl(0, 0%, 20%);
}

p {
  display: flex;
  width: 20%;
  height: 14%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  box-shadow: 5px 5px 10px hsl(240, 100%, 70%);
}

.numbers {
  color: red;
  font-size: 4rem;
}

.arithmetic {
  font-size: 3rem;
}

.equals {
  background-color: red;
  border-radius: 20px;
  font-size: 4rem;
}

/* mobile-devices */
@media (max-width: 599px) {
  body {
    border: hsl(240, 100%, 65%) solid 5px;
    border-radius: 10px;
  }

  .display-input {
    font-size: 2.5em;
  }

  p {
    font-size: 1.3rem;
    box-shadow: 3px 3px 6px hsl(240, 100%, 70%);
  }

  .numbers {
    font-size: 2.5em;
  }

  .arithmetic {
    font-size: 2.5em;
  }

  .equals {
    font-size: 3em;
  }
}
